#contact-list-container {
    padding-top: 40px;
}

#notice {
    position: fixed;
    bottom: 0px;
    left: 5px;
    right: 5px;
    opacity: .75 !important;
    z-index: 1337;

    -webkit-transition-property: opacity, display; 
    -webkit-transition-duration: 0.25s; 
    -webkit-transition-timing-function:ease-out;
}

#notice.smooth-hide {
    opacity: 0 !important;
    display: none !important;
}

#login-form input[type=text], #login-form input[type=password] {
    left: 5px;
    right: 5px;
}

#contact-list-left, #message-boxes {
    position: absolute;
    top: 40px;
    bottom: 0px;
    overflow: auto;
    padding: 0;
    margin: 0;
}

#contact-list-left {
    width: 240px;
    left: 0px;
}

#contact-list-left .selected {
    background-color: #dedede;
    color: #272b30;
}

#message-boxes {
    left: 240px;
    right: 0px;
}

.contact-messages-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.contact-messages-box-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.contact-messages-box .form-inline {
    margin: 0;
    position: fixed;
    overflow: auto;
    bottom: 0px;
    left: 244px;
    right: 0px;
}

.table td {
    border-top-width: 0px;
}

.myself {
    text-align: right;
}

.contact_messages {
    margin-left: 0px;
    position: fixed;
    top: 40px;
    overflow: auto;
    bottom: 27px;
    left: 244px;
    right: 0px;
}

.contact_messages li {
    list-style-type: none;
    padding-right: 4px;
}


.contact_messages li {
    position: relative;
    padding: 7px;
    margin-right: 4px;
    margin: 14px 4px 14px 0;
    color: #fff;
    background: #073678;
}

.contact_messages li.myself {
    background: #075816;
}


.contact_messages li:after {
    content:"";
    position:absolute;
    border-style:solid;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
    top:-10px; /* value = - border-top-width - border-bottom-width */
    right:25px; /* controls horizontal position */
    border-width:10px 10px 0 0; /* vary these values to change the angle of the vertex */
    border-color:transparent #073678; 
}

.contact_messages li.myself:after {
    bottom:-10px; /* value = - border-top-width - border-bottom-width */
    left:25px; /* controls horizontal position */
    border-width:10px 0 0 10px; /* vary these values to change the angle of the vertex */
    border-color:#075816 transparent; 
    top:auto;
    right:auto;
}

.timestamp {
    display: block;
}

.form_user_msg {
    position: fixed;
    bottom: 4px;
    left: 244px;
    right: 4px;
    width: auto !important;
}

#add-contact-form input {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 4px;
}